/* =Footer
----------------------------------------------- */
.site-footer{
    text-align: center;
    margin-top: 2em;
    padding: 2em 0;
    background: $super-black;
    opacity: 0.6;
    color: $white;
    a{
        color: $white;
    }
}